    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="icon" href="data:,">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Code Guardian</title>
    </head>
    <body>
        <div class="container">
            <h1>Code Guardian</h1>
            
            <form id="uploadForm">
                <label for="codeFile">Upload a Python file:</label>
                <input type="file" id="codeFile" name="codeFile" accept=".py" required>
                <button type="submit">Analyze Code</button>
            </form>
            <div id="result" class="result-container"></div>
        </div>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
    </html>
